<!DOCTYPE html>
<html>
  <head>
    <title>CRM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>

    <!--SCRIPTS-->
    <script src="/js/0.js"></script>
    <script src="/js/1.js"></script>
    <script src="/js/10.js"></script>
    <script src="/js/11.js"></script>
    <script src="/js/12.js"></script>
    <script src="/js/13.js"></script>
    <script src="/js/14.js"></script>
    <script src="/js/15.js"></script>
    <script src="/js/16.js"></script>
    <script src="/js/17.js"></script>
    <script src="/js/18.js"></script>
    <script src="/js/19.js"></script>
    <script src="/js/2.js"></script>
    <script src="/js/20.js"></script>
    <script src="/js/21.js"></script>
    <script src="/js/22.js"></script>
    <script src="/js/23.js"></script>
    <script src="/js/24.js"></script>
    <script src="/js/25.js"></script>
    <script src="/js/26.js"></script>
    <script src="/js/27.js"></script>
    <script src="/js/28.js"></script>
    <script src="/js/29.js"></script>
    <script src="/js/3.js"></script>
    <script src="/js/30.js"></script>
    <script src="/js/31.js"></script>
    <script src="/js/32.js"></script>
    <script src="/js/33.js"></script>
    <script src="/js/34.js"></script>
    <script src="/js/35.js"></script>
    <script src="/js/36.js"></script>
    <script src="/js/37.js"></script>
    <script src="/js/38.js"></script>
    <script src="/js/39.js"></script>
    <script src="/js/4.js"></script>
    <script src="/js/40.js"></script>
    <script src="/js/41.js"></script>
    <script src="/js/42.js"></script>
    <script src="/js/5.js"></script>
    <script src="/js/6.js"></script>
    <script src="/js/7.js"></script>
    <script src="/js/8.js"></script>
    <script src="/js/9.js"></script>
    <script src="/js/app.b80364ab.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/chunk-04eb7841.d701e19e.js"></script>
    <script src="/js/chunk-11b172ca.c2073261.js"></script>
    <script src="/js/chunk-17b0ac4a.4744d205.js"></script>
    <script src="/js/chunk-1a7944b8.c6ce7009.js"></script>
    <script src="/js/chunk-1bd25a34.04d0a337.js"></script>
    <script src="/js/chunk-1f309900.b4a11c40.js"></script>
    <script src="/js/chunk-227e6e94.15458752.js"></script>
    <script src="/js/chunk-24bd1c7e.f275d652.js"></script>
    <script src="/js/chunk-2988c9b5.5100a21d.js"></script>
    <script src="/js/chunk-2a49f340.220b284e.js"></script>
    <script src="/js/chunk-2bebf18f.2ac15443.js"></script>
    <script src="/js/chunk-2c5dc64e.2ed47616.js"></script>
    <script src="/js/chunk-2d0baaa6.27291c5d.js"></script>
    <script src="/js/chunk-2d0bb267.f357b64c.js"></script>
    <script src="/js/chunk-2d0c06b6.c701eb36.js"></script>
    <script src="/js/chunk-2d0d69b0.73e89f94.js"></script>
    <script src="/js/chunk-2d0db4b3.ad1ca7a9.js"></script>
    <script src="/js/chunk-2d207f93.bd9c80c4.js"></script>
    <script src="/js/chunk-2d225766.846a668d.js"></script>
    <script src="/js/chunk-2d22d266.893ba1a0.js"></script>
    <script src="/js/chunk-36d9e54c.111ca204.js"></script>
    <script src="/js/chunk-3f749078.7799e7e1.js"></script>
    <script src="/js/chunk-44f5016e.a657ec25.js"></script>
    <script src="/js/chunk-4f166fd1.94fe139e.js"></script>
    <script src="/js/chunk-5fd5b47e.2377b604.js"></script>
    <script src="/js/chunk-6342063f.39a37a0f.js"></script>
    <script src="/js/chunk-69570d70.6d8eeebc.js"></script>
    <script src="/js/chunk-75f1c8da.d91e58a9.js"></script>
    <script src="/js/chunk-7e7f1010.15aa6f01.js"></script>
    <script src="/js/chunk-7fd9f019.f9ff635f.js"></script>
    <script src="/js/chunk-819c0648.bd981afd.js"></script>
    <script src="/js/chunk-8b58be3e.a5756ba1.js"></script>
    <script src="/js/chunk-ae4fd20c.0d7fed89.js"></script>
    <script src="/js/chunk-b68bffb8.02a86dde.js"></script>
    <script src="/js/chunk-bea52d32.12d38fb4.js"></script>
    <script src="/js/chunk-caab4672.84e8d105.js"></script>
    <script src="/js/chunk-d180d01c.436f223d.js"></script>
    <script src="/js/chunk-e43b699a.bee0b101.js"></script>
    <script src="/js/chunk-ed0b6d72.8b2eecd0.js"></script>
    <script src="/js/chunk-f2e81df2.ce009f76.js"></script>
    <script src="/js/chunk-vendors.a95b3564.js"></script>
    <script src="/js/chunk-vendors.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
