<!DOCTYPE html>
<html>
  <head>
    <title>CRM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>

    <!--SCRIPTS-->
    <script src="/js/app.991288cc.js"></script>
    <script src="/js/chunk-0727a90c.0c18beb0.js"></script>
    <script src="/js/chunk-11b172ca.02afc2ab.js"></script>
    <script src="/js/chunk-227bdbb3.e7ea9b53.js"></script>
    <script src="/js/chunk-24c14d60.d6d66d8a.js"></script>
    <script src="/js/chunk-2988c9b5.951b9679.js"></script>
    <script src="/js/chunk-2d0baaa6.eff8ab06.js"></script>
    <script src="/js/chunk-2d0bb267.776d1029.js"></script>
    <script src="/js/chunk-2d0c06b6.aa940110.js"></script>
    <script src="/js/chunk-2d0d69b0.3a10be20.js"></script>
    <script src="/js/chunk-2d0db4b3.f9351b33.js"></script>
    <script src="/js/chunk-2d0e6689.fd722c07.js"></script>
    <script src="/js/chunk-2d207f93.aa24f425.js"></script>
    <script src="/js/chunk-2d225766.c78a1081.js"></script>
    <script src="/js/chunk-2d22d266.f146718d.js"></script>
    <script src="/js/chunk-3141f4f7.b72119e9.js"></script>
    <script src="/js/chunk-3731ef6b.097324a0.js"></script>
    <script src="/js/chunk-38317eed.2984a308.js"></script>
    <script src="/js/chunk-3b5bec21.b00bbd8f.js"></script>
    <script src="/js/chunk-3ee84926.40e65ed2.js"></script>
    <script src="/js/chunk-44359c14.b79b17ad.js"></script>
    <script src="/js/chunk-4ff7b9fa.ba53d6dc.js"></script>
    <script src="/js/chunk-6047e8e4.d99970c5.js"></script>
    <script src="/js/chunk-66038fe8.21fafc1f.js"></script>
    <script src="/js/chunk-69570d70.e578b547.js"></script>
    <script src="/js/chunk-6975e788.98cbd219.js"></script>
    <script src="/js/chunk-69e0df1a.751738b9.js"></script>
    <script src="/js/chunk-721fdf90.8a96564f.js"></script>
    <script src="/js/chunk-7393db3a.966e4c8e.js"></script>
    <script src="/js/chunk-75f1c8da.f4608dd6.js"></script>
    <script src="/js/chunk-7703168d.6162ef30.js"></script>
    <script src="/js/chunk-7a54b0e9.51253d00.js"></script>
    <script src="/js/chunk-7f4f15eb.ac8f437d.js"></script>
    <script src="/js/chunk-8b58be3e.dd2ca263.js"></script>
    <script src="/js/chunk-8fa4be96.21af8ad8.js"></script>
    <script src="/js/chunk-caab4672.0470bb8b.js"></script>
    <script src="/js/chunk-d180d01c.269635b1.js"></script>
    <script src="/js/chunk-e43b699a.45844e49.js"></script>
    <script src="/js/chunk-ed0b6d72.a7c6069c.js"></script>
    <script src="/js/chunk-vendors.9d8106ac.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
