<!DOCTYPE html>
<html>
  <head>
    <title>CRM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>

    <!--SCRIPTS-->
    <script src="/js/0.js"></script>
    <script src="/js/1.js"></script>
    <script src="/js/10.js"></script>
    <script src="/js/11.js"></script>
    <script src="/js/12.js"></script>
    <script src="/js/13.js"></script>
    <script src="/js/14.js"></script>
    <script src="/js/15.js"></script>
    <script src="/js/16.js"></script>
    <script src="/js/17.js"></script>
    <script src="/js/18.js"></script>
    <script src="/js/19.js"></script>
    <script src="/js/2.js"></script>
    <script src="/js/20.js"></script>
    <script src="/js/21.js"></script>
    <script src="/js/22.js"></script>
    <script src="/js/23.js"></script>
    <script src="/js/24.js"></script>
    <script src="/js/25.js"></script>
    <script src="/js/26.js"></script>
    <script src="/js/27.js"></script>
    <script src="/js/28.js"></script>
    <script src="/js/29.js"></script>
    <script src="/js/3.js"></script>
    <script src="/js/30.js"></script>
    <script src="/js/31.js"></script>
    <script src="/js/32.js"></script>
    <script src="/js/33.js"></script>
    <script src="/js/34.js"></script>
    <script src="/js/35.js"></script>
    <script src="/js/36.js"></script>
    <script src="/js/37.js"></script>
    <script src="/js/38.js"></script>
    <script src="/js/39.js"></script>
    <script src="/js/4.js"></script>
    <script src="/js/40.js"></script>
    <script src="/js/41.js"></script>
    <script src="/js/42.js"></script>
    <script src="/js/43.js"></script>
    <script src="/js/44.js"></script>
    <script src="/js/45.js"></script>
    <script src="/js/46.js"></script>
    <script src="/js/47.js"></script>
    <script src="/js/48.js"></script>
    <script src="/js/49.js"></script>
    <script src="/js/5.js"></script>
    <script src="/js/50.js"></script>
    <script src="/js/51.js"></script>
    <script src="/js/52.js"></script>
    <script src="/js/6.js"></script>
    <script src="/js/7.js"></script>
    <script src="/js/8.js"></script>
    <script src="/js/9.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/chunk-vendors.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
