<!DOCTYPE html>
<html>
  <head>
    <title>CRM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>

    <!--SCRIPTS-->
    <script src="/js/0.js"></script>
    <script src="/js/1.js"></script>
    <script src="/js/10.js"></script>
    <script src="/js/11.js"></script>
    <script src="/js/12.js"></script>
    <script src="/js/13.js"></script>
    <script src="/js/14.js"></script>
    <script src="/js/15.js"></script>
    <script src="/js/16.js"></script>
    <script src="/js/17.js"></script>
    <script src="/js/18.js"></script>
    <script src="/js/19.js"></script>
    <script src="/js/2.js"></script>
    <script src="/js/20.js"></script>
    <script src="/js/21.js"></script>
    <script src="/js/22.js"></script>
    <script src="/js/23.js"></script>
    <script src="/js/24.js"></script>
    <script src="/js/25.js"></script>
    <script src="/js/26.js"></script>
    <script src="/js/27.js"></script>
    <script src="/js/28.js"></script>
    <script src="/js/29.js"></script>
    <script src="/js/3.js"></script>
    <script src="/js/30.js"></script>
    <script src="/js/31.js"></script>
    <script src="/js/32.js"></script>
    <script src="/js/33.js"></script>
    <script src="/js/34.js"></script>
    <script src="/js/35.js"></script>
    <script src="/js/36.js"></script>
    <script src="/js/37.js"></script>
    <script src="/js/38.js"></script>
    <script src="/js/39.js"></script>
    <script src="/js/4.js"></script>
    <script src="/js/40.js"></script>
    <script src="/js/5.js"></script>
    <script src="/js/6.js"></script>
    <script src="/js/7.js"></script>
    <script src="/js/8.js"></script>
    <script src="/js/9.js"></script>
    <script src="/js/app.0a6e25ef.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/chunk-0727a90c.704d9a6a.js"></script>
    <script src="/js/chunk-11b172ca.09bc4966.js"></script>
    <script src="/js/chunk-227bdbb3.1bfdd280.js"></script>
    <script src="/js/chunk-24c14d60.b3d78b06.js"></script>
    <script src="/js/chunk-2988c9b5.c8d66acc.js"></script>
    <script src="/js/chunk-2d0baaa6.2ba5de41.js"></script>
    <script src="/js/chunk-2d0bb267.ff35d5b9.js"></script>
    <script src="/js/chunk-2d0c06b6.5550708e.js"></script>
    <script src="/js/chunk-2d0d69b0.abb92a2b.js"></script>
    <script src="/js/chunk-2d0db4b3.4fc7498c.js"></script>
    <script src="/js/chunk-2d0e6689.3cbdcea2.js"></script>
    <script src="/js/chunk-2d207f93.11f2a887.js"></script>
    <script src="/js/chunk-2d225766.6e6a6757.js"></script>
    <script src="/js/chunk-2d22d266.fb52dbf2.js"></script>
    <script src="/js/chunk-3141f4f7.e6319b22.js"></script>
    <script src="/js/chunk-3731ef6b.d47cbe39.js"></script>
    <script src="/js/chunk-38317eed.d4358e44.js"></script>
    <script src="/js/chunk-3b5bec21.f1aa09ec.js"></script>
    <script src="/js/chunk-3ee84926.623d4a22.js"></script>
    <script src="/js/chunk-44359c14.67570e90.js"></script>
    <script src="/js/chunk-4ff7b9fa.44109a20.js"></script>
    <script src="/js/chunk-6047e8e4.e600fa2d.js"></script>
    <script src="/js/chunk-66038fe8.30cb19ae.js"></script>
    <script src="/js/chunk-69570d70.0fdf70b3.js"></script>
    <script src="/js/chunk-6975e788.635f995e.js"></script>
    <script src="/js/chunk-69e0df1a.ebda5211.js"></script>
    <script src="/js/chunk-721fdf90.08b40553.js"></script>
    <script src="/js/chunk-7393db3a.966e4c8e.js"></script>
    <script src="/js/chunk-75f1c8da.0dcf6890.js"></script>
    <script src="/js/chunk-7703168d.5f81c2b9.js"></script>
    <script src="/js/chunk-7a54b0e9.21056c29.js"></script>
    <script src="/js/chunk-7f4f15eb.a8452c13.js"></script>
    <script src="/js/chunk-8b58be3e.a927336c.js"></script>
    <script src="/js/chunk-8fa4be96.21af8ad8.js"></script>
    <script src="/js/chunk-caab4672.847fc12d.js"></script>
    <script src="/js/chunk-d180d01c.ab32903b.js"></script>
    <script src="/js/chunk-e43b699a.fae29a4f.js"></script>
    <script src="/js/chunk-ed0b6d72.5099c554.js"></script>
    <script src="/js/chunk-vendors.9d8106ac.js"></script>
    <script src="/js/chunk-vendors.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
